@font-face {
	font-family: 'Circe';
	src: url('fonts/circe.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
font-family: 'Rodchenko';

    src:    url('https://nomail.com.ua/files/eot/4f92ce49d3e9bb369d836662431a8194.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/4f92ce49d3e9bb369d836662431a8194.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/4f92ce49d3e9bb369d836662431a8194.woff2') format('woff2');
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

body {
    font-family: 'RodchenkoCTT', sans-serif;
	margin: 0;
    padding: 0;
	width: 100%;
	height: auto;
    overflow-x: auto;
    overflow-y: scroll;
}

header {
	padding-top: 2%;
	display: flex;
	flex-direction: row;
    width: 100%;
}

.nav {
	width: 60%;
	display: inline-flex;
    align-items: center;
}

.nav_button {
	margin-left: 5%;
	font-family: Circe, sans-serif;
	font-size: 19px;
	text-decoration: none;
	color: black;
}

.tel {
	display: inline-flex;
	align-items: center;
	width: 40%;
}

.tel_number {
	margin-left: 15%;
	font-family: Circe, serif;
	font-weight: bold;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	height: auto;
	width: 100%;
	margin-bottom: 100px;
}

.greybox {
	background-color: #eeedf3;
	display: flex;
	position: absolute;
	left: 0;
	z-index: -1;
	width: 633px;
	height: 597px;
	margin: 188px 801px 0 6px;
}

.greybox_inner {
	writing-mode: vertical-lr;
	font-family: 'Montserrat', sans-serif;
	color: white;
	width: inherit;
	margin: 0 0 0 3%;
	text-align: center;
}

.redbox {
	width: 524px;
	height: 495px;
	margin: 258px 761px 0 155px;
	position: absolute;
	background-color: #c12b2b;
}

.main_photo {
	width: 450px;
	height: auto;
	margin: 130px 774px 0 216px;
	position: absolute;
	z-index: +1;
}

.info {
	flex-direction: column;
	display: flex;
	height: auto;
	width: 100%;
	margin-left: 727px;
	margin-bottom: 130px;
}

.name {
	text-align: center;
    display: flex;
    margin: 262px auto 0 0;
    width: auto;
    height: auto;
    font-size: 72px;
    letter-spacing: 1px;
    font-family: Rodchenko, sans-serif;
}

.line {
	width: 67px;
	height: 2px;
	border-bottom: 1px solid #000000;
	margin: 15px 20px auto 9px;
}

.profession {
	display: flex;
}

.profession_inner {
	font-family: Circe, sans-serif;
	font-size: 25px;
}

.aboutme {
	display: flex;
	flex-direction: column;
	margin-left: 96px;
	margin-top: 35px;
}

.area {
	font-family: Rodchenko, sans-serif;
	font-size: 30px;
	line-height: 48px;
}

.exp {
	font-family: Circe, sans-serif;
	font-size: 18px;
	margin-top: 30px;
}

.contact_button {
	width: 262px;
	height: 47px;
	background-color: #c12b2b;
	font-family: Circe, sans-serif;
	font-size: 16px;
	color: #f4f4f4;
	border: none;
	margin-top: 35px;
}

.contact_logos {
	margin: 365px 40px auto 20px;
}

.contact_logos_inner {
	width: 31px;
	margin-bottom: 20px;
	height: 31px;
}

.dots {
	position: absolute;
	z-index: -1;
}

.service {
	color: #171717;
	font-size: 48px;
	margin-left: 90px;
	width: 100%;
	height: auto;
	font-family: Rodchenko, sans-serif;
	text-transform: uppercase;
}

.red_color {
	color: #c12b2b;
}

.blocks {
	justify-content: space-evenly;
	display: flex;
	text-align: center;
}

.block {
	margin-top: 188px;
	width: 462px;
	height: 919px;
	box-shadow: 0 0 7px rgba(193, 43, 43, 0.25);
}

.block_logo {
	size: 158px;
	margin: -79px 0 28px 0;
}

.block_headline {
	font-family: Rodchenko, sans-serif;
	font-size: 36px;
	margin-bottom: 32px;
}

.block_service_list {
	font-size: 16px;
	text-align: left;
	margin: 0 40px 0 40px;
	line-height: 30px;
}

.block_text {
	list-style-image: url("images/Bricks.png");
}

.block_bottom {
	box-shadow: 0 0 7px rgba(193, 43, 43, 0.25);
	height: 60px;
}

.scroll {
	margin: 101px 0 0 26px;
}

.dots_large {
	position: absolute;
	z-index: -1;
	width: 325px;
	height: 236px;
}

.scroll_parts {
    margin-top: 128px;
}

.scroll_part {
	width: 100%;
	height: auto;
	display: flex;

}

.scroll_photo {
	width: 561px;
	height: 764px;
	position: absolute;
	margin: 23px 0 0 83px;
}

.rectangle {
    width: 262px;
    height: 637px;
    background-color: #c12b2b;
	margin-left: 397px;
	margin-right: 0;
}

.h_line {
	background-color: #c12b2b;
	height: inherit;
	width: 4px;

}

.number {
	position: absolute;
	margin: 21px 0 0 726px;
}

.scroll_headline {
	font-family: Rodchenko, sans-serif;
	font-size: 24px;
	margin: 158px 0 0 68px;
}