@font-face {
	font-family: 'Circe';
	src: url('fonts/circe.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
font-family: 'Rodchenko';

    src:    url('https://nomail.com.ua/files/eot/4f92ce49d3e9bb369d836662431a8194.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/4f92ce49d3e9bb369d836662431a8194.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/4f92ce49d3e9bb369d836662431a8194.woff2') format('woff2');
}

*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

body {
    font-family: 'RodchenkoCTT', sans-serif;
	margin: 0;
    padding: 0;
	width: 100%;
	height: auto;
    overflow-x: auto;
    overflow-y: scroll;
}

.wrapper {
	width: 100%;
}

header {
	padding-top: 2%;
	display: flex;
	flex-direction: row;
    width: 100%;
}

.nav {
	width: 60%;
	display: inline-flex;
    align-items: center;
}

.nav_button {
	margin-left: 5%;
	font-family: Circe, sans-serif;
	font-size: 119%;
	text-decoration: none;
	color: black;
}

.tel {
	display: inline-flex;
	align-items: center;
	width: 40%;
}

.tel_number {
	margin-left: 15%;
	font-family: Circe, serif;
	font-weight: bold;
	font-size: 150%;
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	height: auto;
	width: 100%;
	margin-bottom: 6.945%;
}

.greybox {
	background-color: #eeedf3;
	display: flex;
	position: absolute;
	left: 0;
	z-index: -1;
	width: 633px;
	height: 597px;
	margin: 188px 801px 0 6px;
}

.greybox_inner {
	writing-mode: vertical-lr;
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin: -2% 0 0 -6.8%;
    position: absolute;
	font-size: 1130%;
}

.redbox {
	width: 524px;
	height: 495px;
	margin: 258px 761px 0 155px;
	position: absolute;
	background-color: #c12b2b;
}

.main_photo {
	width: 450px;
	height: auto;
	margin: 130px 774px 0 216px;
	position: absolute;
	z-index: +1;
}

.info {
	flex-direction: column;
	display: flex;
	height: auto;
	width: 100%;
	margin-left: 727px;
	margin-bottom: 130px;
}

.name {
	text-align: center;
    display: flex;
    margin: 262px auto 0 0;
    width: auto;
    height: auto;
    font-size: 72px;
    letter-spacing: 1px;
    font-family: Rodchenko, sans-serif;
}

.line {
	width: 67px;
	height: 2px;
	border-bottom: 1px solid #000000;
	margin: 15px 20px auto 9px;
}

.profession {
	display: flex;
}

.profession_inner {
	font-family: Circe, sans-serif;
	font-size: 25px;
}

.aboutme {
	display: flex;
	flex-direction: column;
	margin-left: 96px;
	margin-top: 35px;
}

.area {
	font-family: Rodchenko, sans-serif;
	font-size: 30px;
	line-height: 48px;
}

.exp {
	font-family: Circe, sans-serif;
	font-size: 18px;
	margin-top: 30px;
}

.contact_button {
	width: 262px;
	height: 47px;
	background-color: #c12b2b;
	font-family: Circe, sans-serif;
	font-size: 16px;
	color: #f4f4f4;
	border: none;
	margin-top: 35px;
}

.contact_logos {
	margin: 365px 40px auto 20px;
}

.contact_logos_inner {
	width: 31px;
	margin-bottom: 20px;
	height: 31px;
}

.dots {
	position: absolute;
	z-index: -1;
}

.service {
	color: #171717;
	font-size: 48px;
	margin-left: 90px;
	width: 100%;
	height: auto;
	font-family: Rodchenko, sans-serif;
	text-transform: uppercase;
}

.red_color {
	color: #c12b2b;
}

.blocks {
	justify-content: space-evenly;
	display: flex;
	text-align: center;
}

.block {
	margin-top: 188px;
	width: 462px;
	height: 919px;
	box-shadow: 0 0 7px rgba(193, 43, 43, 0.25);
	position: relative;
}

.block_logo {
	size: 158px;
	margin: -79px 0 28px 0;
}

.block_headline {
	font-family: Rodchenko, sans-serif;
	font-size: 36px;
	margin-bottom: 32px;
}

.block_service_list {
	font-size: 16px;
	text-align: left;
	margin: 0 40px 0 40px;
	line-height: 30px;
}

.block_text {
	list-style-image: url("images/Bricks.png");
}

.block_bottom {
	border-top: 1px solid #e7e5e5;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 150px;
	bottom: 0;
	align-items: center;
}

.price {
	font-family: Rodchenko, sans-serif;
	font-size: 36px;
}

.get_consult {
	width: 82.252%;
	height: 32.89%;
	background-color: #c12b2b;
	border: none;
	color: white;
}

.scroll {
	margin: 101px 0 0 26px;
}

.dots_large {
	position: absolute;
	z-index: -1;
	width: 325px;
	height: 236px;
}

.scroll_parts {
    margin-top: 128px;
}

.scroll_part {
	width: 100%;
	height: auto;
	display: flex;

}

.scroll_photo {
	width: 561px;
	height: 764px;
	position: absolute;
	margin: 1.598% 0 0 5.764%;
}

.rectangle {
    width: 262px;
    height: 637px;
    background-color: #c12b2b;
	margin-left: 397px;
	margin-right: 0;
}

.broken_line_1 {
	position: absolute;
	display: flex;
	margin: 17.3% 0 0 44.8%;
}

.broken_line_2 {
	position: absolute;
	display: flex;
}

.circle {
	background-color: #c12b2b;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	align-self: center;
}

.short_h_line {
	background-color: #c12b2b;
	width: 48px;
	height: 4px;
	align-self: center;
}

.v_line {
	background-color: #c12b2b;
	width: 4px;
	height: 23px;
	margin-top: 20px;
}

.long_h_line {
	background-color: #c12b2b;
	width: 264px;
	height: 4px;
	align-self: end;
}

.scroll_text {
	margin: 21px 0 0 65px;
}

.v_separator {
	background-color: #c12b2b;
	display: flex;
	position: absolute;
	height: 100%;
	margin-left: 45.487%;
	width: 4px;

}

.number {
	margin-bottom: 33px;
}

.scroll_headline {
	font-family: Rodchenko, sans-serif;
	font-size: 24px;
}

.question {
	margin-top: 43px;
	font-family: Circe, sans-serif;
	font-size: 18px;
	margin-bottom: 33px;
}

.question_inner{
	font-family: Circe, sans-serif;
	font-size: 16px;
	margin-left: 20px;
}

.answer {
	margin-top: 66px;
	font-family: Circe, sans-serif;
	font-size: 18px;
	margin-bottom: 33px;
}

.answer_list {
	font-family: Circe, sans-serif;
	font-size: 16px;
	margin: 0;
}

.answer_point {
	margin-bottom: 40px;
	list-style-image: url("images/Bricks.png");
}

.reviews {
	margin: 6.945% 4.862% 0 4.862%;
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
}

.row {
	width: 100%;
	justify-content: space-evenly;
	display: flex;
}

.video_reviews {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.video_review {
	margin: 0.924%;
	border: none;
}

.firstline {
	width: 697px;
	height: 399px;
}

.secondline {
	width: 25%;
	height: 100%;
}

.slider {
	margin-top: 150px;
}

.qualities {
	margin-top: 120px;
	display: flex;
	flex-wrap: wrap;
}

.quality {
	width: 33%;
	text-align: center;
}

.description_headline {
	margin-top: 33px;
}

.description_inner {
	margin-top: 14px;
}

.videos {
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.video {
	border: none;
	width: 600px;
	height: 300px;
}

.figure {

}

.figure_cube {
	margin: 135px 231px 0 714px;
	width: 495px;
	height: 373px;
	background-color: #c12b2b;
}

.figure_dots {
	position: absolute;
	margin: -40px auto 0 1093px;
	z-index: -1;
}

.lines {
	position: absolute;
	margin: 168px 0 0 1190px;
}

.figure_line {
	margin-top: 18px;
	width: 55px;
	height: 3px;
	background-color: #c12b2b;
}

.rating_photo {
	display: flex;
    justify-content: center;
    margin-top: -365px;
}

.rating {

}

.addition_dots_wrapper {

}

.addition_dots {
	position: absolute;
	width: 325px;
	height: 236px;
	margin: 41.112% 0 0 1.528%;
}

.addition_rectangle {
	width: 282px;
	height: 730px;
	position: absolute;
	z-index: -1;
	background-color: #c12b2b;
	margin: 6.945% 0 0 25.556%;
}

.addition_figure {
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: 6.945% 0 0 44.237%;
}

.figure_component {
	display: flex;
	margin-top: 77px;
}

.addition_circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #c12b2b;
	align-self: center;
}

.addition_line {
	width: 132px;
	height: 6px;
	background-color: #c12b2b;
	align-self: center;
}

.target {
	width: 82px;
	height: 82px;
	align-self: center;

}

.addition_content {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 115px;
}

.addition_image_wrapper {
	width: 40%;
	margin-left: 57px;
	margin-top: 9px;
}

.addition_image {

}

.addition_text_wrapper {
	width: 50%;
	margin-left: 19.098%;
}

.addition_text {
	font-family: Rodchenko, sans-serif;
	font-size: 24px;
	margin-top: 100px;
}

.statistics {
	display: flex;
	margin-top: 226px;
	justify-content: center;
}

.statistics_line {
	width: 6px;
	height: 98px;
	background-color: #c12b2b;
}

.statistics_inner {
	margin-right: 44px;
	margin-left: 44px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.statistics_number {
	font-family: Rodchenko, sans-serif;
	align-self: center;
	font-size: 75px;
	margin-top: 22px;
}

.statistics_text {
	text-transform: uppercase;
	font-family: Circe, sans-serif;
	margin-top: 23px;
	text-align: center;
	font-size: 22px;
}

.consult {
	display: flex;
    margin: 47px 0 0 80px;
}

.map {

}

.map_image {

}

.consult_contacts {
	margin-left: 37px;
}

.consult_headline {
	font-family: Circe, sans-serif;
	font-size: xx-large;
}

.consult_text {
	font-family: Circe, sans-serif;
	font-size: 20px;
    line-height: 40px;
}

.consult_point {
	font-size: xx-large;
}

.consult_form {
	width: 522px;
	height: 314px;
	border: 4px solid #c12b2b;
}

.consult_form *{
	outline: none;
}

.form_body {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	margin-top: 40px;
}

.form_item {
	width: 100%;
	display: contents;
}

.form_input {
	margin-bottom: 23px;
	background-color: #f5f4f4;
	border: none;
	width: 70%;
	height: 42px;
	color: #abaaa6;
	text-align: center;
}

.form_input:focus{
	box-shadow: 0 0 15px #c12b2b;
}

.form_button {
	margin-top: 40px;
	background-color: #c12b2b;
	border: none;
	color: #eeedf3;
	width: 50%;
	height: 47px;
}

textarea.form_input {
	resize: vertical;
	min-height: 120px;
}

input[type="checkbox"] {
	border: none;
}

.footer {
	background-color: #c12b2b;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer * {
	color: white;
}

.first_column {
	margin: 70px 0 70px 70px;
}

.second_column {
	margin: 70px 0 70px 70px;
}

.third_column {
	margin: 70px 170px 70px 0;
}

.footer_headline {
	text-transform: uppercase;
	font-family: Circe, sans-serif;
}

.footer_text {
	font-family: Circe, sans-serif;
}

.footer_tel {
	margin-bottom: 14px;
}

.footer_tel_inner {
	margin-top: 20px;
}

.privacy_policy {
	text-decoration: none;
}

.footer_nav {
	margin: 0;
}

.footer_nav_inner {
	line-height: 31px;
	list-style: none;
}

.footer_logo {
	width: 32px;
	height: 32px;
	margin-right: 18px;
}

.footer_dots {
	position: absolute;
	right: 0;
    margin-top: -4.862%;
}

